<!DOCTYPE html>
<title>Boggle!</title>
<link href="{{ url_for('static', filename='css/boggle.css') }}" type="text/css" rel="stylesheet">
<body ng-app="BoggleApp">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
  <script src="../static/js/main.js"></script>
  <div ng-controller="BoggleController">
    <div class="col-sm-6">
      <h1>Boggle</h1>
      <div>
        <table>
          <tr ng-repeat="row in letters track by $index">
            <td class="content" ng-repeat="letter in row track by $index">
              <div class="content">{a letter a}</div>
            </td>
          </tr>
        </table>
      </div>
      <form role="form" ng-click="getLetters()">
        <p>
          <button>Shuffle</button>  
          <span>{a status a}</span>
        </p>
      </form>
    </div>
    <div>
      <form role="form" ng-submit="checkWord()">
        <p>
          <input type="text" ng-model="word" name="word" required>
          <button type="submit">Check</button>
          <span><pre>{a validity a}</pre></span>
        </p>
      </form>
    </div>
  </div>
</body>
